/* 参考 https://www.pressmantech.com/tech/design/2738#arrow-sample4-6 */

:root {
    --color: lightgray; /* 矢印の色 */
    --size: 4; /* 矢印の大きさ */
    --weight: 2.5px; /* 枠の太さ */
  }
  
  .arrow {
    position: relative;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
  }
  
  .arrow::before,
  .arrow::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    vertical-align: middle;
  }
  
  .arrow::before {
    box-sizing: border-box;
    width: calc(12px * var(--size));
    height: calc(12px * var(--size));
    border: var(--weight) solid var(--color);
    border-radius: 25%;
  }
  
  .arrow::after {
    box-sizing: border-box;
    width: calc(3px * var(--size));
    height: calc(3px * var(--size));
    border: calc(3px * var(--size)) solid transparent;
  }
  
  .rightArrow {
    padding: 0 0 0 calc(4px * var(--size));
  }
  
  .leftArrow {
    padding: 0 calc(12px * var(--size)) 0 0;
  }
  
  .rightArrow::after {
    left: calc(5px * var(--size));
    border-left: calc(3px * var(--size)) solid var(--color);
  }
  
  .leftArrow::after {
    left: calc(3px * var(--size) / 2);
    border-right: calc(3px * var(--size)) solid var(--color);
  }